title {
  text-align: center;
}

h1 {
  color: dodgerblue;
}

body {
  text-align: center;
}
button {
  height: 150px;
  width: 150px;
  background: url("http://vignette1.wikia.nocookie.net/joke-battles/images/4/40/18360-doge-doge-simple.jpg/revision/latest?cb=20151209161638");
  background-size: 100%;
  background-size: 150px auto;
  vertical-align: top;
  font-size: 50px;
}

#refresh {
  text-align: center;
  border: 1px red;
}

#clear {
  height:80px;
  width: 150px;
  border: red 1px solid;
}


